body {
    overflow: hidden;
    background-image: linear-gradient(skyBlue, green);
}

.row {
    text-align: center;
}

.oneGame {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 5px;
    border: 2px solid black;
}

#Snake {
    background-image: url(https://handsontek.net/images/Teams/Snake/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#PingPong {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNCBxqQnUxYJQ0MlU4UvruDdL-YzmnP3G-tA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}

#Cactus {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRya9Z_n1Xk6gVWQ9ivyTbTQTklsX6hSSpLCvg5MflDow&usqp=CAU&ec=45690269);
    background-repeat: no-repeat;
    background-size: cover;
}

#Ritter {
    background-image: url(https://assets-esports.thescore.com/uploads/image/file/1671/cropped_Secret.jpg?ts=1429821325);
    background-repeat: no-repeat;
    background-size: cover;
}

#jang {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTz-6ALy3HZ7BTUDKuoZJwL3B7DioAOwPm838wLNUvawg&usqp=CAU&ec=45690269);
    background-repeat: no-repeat;
    background-size: cover;
}

#FarBy {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/RYB.png/250px-RYB.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#buttonPage {
    display: inline-block;
    width: 900px;
    height: 250px;
    margin: 5px;
    border: 2px solid black;
    background-color: gold;
    align-items: center;
    justify-content: center;
}

#logoImage {
    float: right;
    margin: 5px;
    border: 2px solid black;
}

#logoImage:hover {
    border: 7px solid black;
}

#logoText {
    font-size: 70px;
    font-family: fantasy;
}

.oneGame:hover {
    margin: 40px;
}
